<section class="hero-section">

  <div class="hero-content">

    <!-- LEFT SIDE -->
    <div class="hero-text">
      <h1>Hi, I'm Thapelo</h1>
      <p>I build web applications and help businesses grow online.</p>

      <div class="hero-buttons">
        <button mat-raised-button style="background-color:#212C54" routerLink="/resume">
          View Resume
        </button>

        <button mat-raised-button color="accent" routerLink="/contact">
          Need a Project?
        </button>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="hero-image">
      <img src="assets/thapelo.jpg" alt="Thapelo">
    </div>

  </div>

</section>
