.hero-section {
  background: linear-gradient(to right, #292A2D);
  color: white;
  padding: 80px 40px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 500px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.hero-image img {
  width: 320px;
  border-radius: 10px;
}
