<!--<section class="projects-section">-->
<!--  <h2>My Projects</h2>-->
<!--  <div class="project-cards">-->
<!--    <mat-card *ngFor="let project of [1,2,3]">-->
<!--      <mat-card-title>Project {{project}}</mat-card-title>-->
<!--      <mat-card-content>-->
<!--        Short description of project {{project}}.-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-button color="primary">View</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</section>-->
